@import url("https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600&display-swap");

@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600&display-swap");

@import url("https://fonts.googleapis.com/css?family=Public+Sans:regular&display-swap");

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

[class^=-icon-],
[class*=" -icon-"] {
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.-icon-map:before {
  content: "\e900";
}

.-icon-arrow-right:before {
  content: "\e901";
}

.-icon-arrow-right-submit:before {
  content: "\e902";
}

.-icon-behance:before {
  content: "\e903";
}

.-icon-download:before {
  content: "\e904";
}

.-icon-dribbble:before {
  content: "\e905";
}

.-icon-facebook:before {
  content: "\e906";
}

.-icon-instagram:before {
  content: "\e907";
}

.-icon-linkedIn:before {
  content: "\e908";
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  display: inline-block;
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

span {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-pointer-events.swiper-vertical {
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

/* 3D Effects */

.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  -webkit-perspective: 1200px;
          perspective: 1200px;
}

.swiper-3d .swiper-wrapper,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */

.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-ordinal-group: 10000;
      -ms-flex-order: 9999;
          order: 9999;
}

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
          margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
          margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  height: var(--swiper-centered-offset-after);
}

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
}

body {
  font-family: "Work Sans";
  background-color: #fff;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 96px 0 0 0;
}

.-container {
  max-width: 1360px;
  padding: 0 20px;
  margin: 0 auto;
}

.-ai {
  position: relative;
}

.-ai img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo_black .logo__text {
  color: #132238;
}

.logo_white .logo__text {
  color: #fff;
}

.logo__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 56px;
          flex: 0 0 56px;
  width: 56px;
  margin: 0 12px 0 0;
}

.logo__image img {
  max-width: 100%;
}

.logo__text {
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
}

.btn {
  padding: 12px 24px;
  border-radius: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.btn_bg {
  background-color: #a53dff;
  color: #ffffff;
}

.btn_bg span {
  margin: 0 0 0 18px;
}

.btn_bg img {
  margin: 0 14px 0 0;
}

.btn_bg-arrow {
  padding: 12px 30px;
}

.btn_bg-arrow span {
  margin: 0 0 0 14px;
  font-size: 20px;
}

.btn_tr {
  color: #a53dff;
  border: 1px solid #a53dff;
  background-color: #fff;
}

.btn_tr-arrow {
  padding: 12px 30px;
}

.btn_tr span:first-child {
  margin: 0 18px 0 0;
}

.btn_tr span:last-child {
  margin: 0 0 0 18px;
}

.-text-small {
  font-size: 16px;
  line-height: 150%;
}

.-text-small_300 {
  font-weight: 300;
}

.-text-small_400 {
  font-weight: 400;
}

.-text-small_500 {
  font-weight: 500;
}

.-text-small_600 {
  font-weight: 500;
}

.-text-big {
  font-size: 18px;
  line-height: 133.3333333333%;
}

.-text-big_400 {
  font-weight: 400;
}

.-text-big_500 {
  font-weight: 500;
}

.-text-big_600 {
  font-weight: 500;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 116.6666666667%;
  color: #132238;
}

.title-small {
  font-weight: 600;
  font-size: 38px;
  line-height: 131.5789473684%;
  color: #132238;
}

.title_top-block:not(:last-child) {
  margin: 0 0 24px 0;
}

.text_top-block {
  color: #87909d;
}

.text_top-block:not(:last-child) {
  margin: 0 0 50px 0;
}

.text_top-block p:not(:last-child) {
  margin: 0 0 16px 0;
}

.btn_top-block {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.-top-block {
  text-align: center;
}

.-top-block:not(:last-child) {
  margin: 0 0 70px 0;
}

.pagination-slider {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 2;
  pointer-events: none;
  margin: 0 0 -12px 0;
}

.pagination-slider .swiper-pagination-bullet {
  pointer-events: auto;
  background-color: #c3c7ce;
  border-radius: 100px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8px;
          flex: 0 0 8px;
  width: 8px;
  height: 8px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  margin: 0 0px 12px 0;
}

.pagination-slider .swiper-pagination-bullet:not(:last-child) {
  margin-right: 12px;
}

.pagination-slider .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  cursor: pointer;
}

.pagination-slider .swiper-pagination-bullet-active {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  width: 30px;
  background-color: #210c33;
}

input,
textarea {
  height: 100%;
  width: 100%;
  display: block;
}

textarea {
  resize: none;
}

[data-tab-content] {
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 40;
  background-color: #fff;
}

.header.-open .header__body::before,
.header.-open .header__body::after {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.header__body {
  min-height: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}

.header__body::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  z-index: 41;
  background-color: #a53dff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header__logo {
  position: relative;
  z-index: 42;
}

.menu__list:not(:last-child) {
  margin: 0 24px 0 0;
}

.menu__list li:not(:last-child) {
  margin: 0 48px 0 0;
}

.menu__link {
  color: #333333;
}

.menu-link {
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.hi {
  position: relative;
  padding: 126px 0 222px 0;
}

.hi::before,
.hi::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.hi__container {
  display: -ms-grid;
  display: grid;
  position: relative;
  z-index: 2;
  -ms-grid-columns: 648px 321px;
  grid-template-columns: 648px 321px;
  gap: 136px;
}

.hi__title {
  font-weight: 600;
  color: #132238;
  font-size: 72px;
  line-height: 116.6666666667%;
}

.hi__title:not(:last-child) {
  margin: 0 0 24px 0;
}

.hi__text {
  color: #556070;
}

.hi__text:not(:last-child) {
  margin: 0 0 24px 0;
}

.hi__text span {
  position: relative;
  z-index: 2;
}

.hi__text span::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 6px;
  background-color: #ffc8c8;
  z-index: -1;
}

.hi__btn:not(:last-child) {
  margin: 0 0 142px 0;
}

.hi__image img {
  max-width: 100%;
  -webkit-box-shadow: 0px 24px 116px rgba(43, 56, 76, 0.09);
          box-shadow: 0px 24px 116px rgba(43, 56, 76, 0.09);
  border-radius: 25px;
  overflow: hidden;
}

.features-hi {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  gap: 3px;
}

.features-hi__item {
  background-color: rgba(237, 216, 255, 0.5);
  text-align: center;
  padding: 17px;
}

.features-hi__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
  color: #424e60;
}

.features-hi__title:not(:last-child) {
  margin: 0 0 8px 0;
}

.features-hi__label {
  color: #697484;
}

.info {
  position: relative;
}

.info::before,
.info::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.info__container {
  position: relative;
  z-index: 3;
}

.info__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 38.6861313869% 1fr;
  grid-template-columns: 38.6861313869% 1fr;
  padding: 112px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 36px 105px rgba(43, 56, 76, 0.1);
          box-shadow: 0px 36px 105px rgba(43, 56, 76, 0.1);
  gap: 136px;
}

.info__image {
  padding: 0 0 100% 0;
  position: relative;
  margin: 0 0 36px 0;
}

.info__body {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.info__title:not(:last-child) {
  margin: 0 0 32px 0;
}

.info__texts p {
  color: #87909d;
}

.info__texts p:not(:last-child) {
  margin: 0 0 16px 0;
}

.info__texts:not(:last-child) {
  margin: 0 0 32px 0;
}

.info__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 -15px 0;
}

.info__btns:not(:last-child) {
  margin: 0 0 32px 0;
}

.info__btn {
  margin: 0 0 15px 0;
}

.info__btn:not(:last-child) {
  margin-right: 24px;
}

.info__btn.btn_tr span {
  font-size: 20px;
  margin: 0 14px 0 0;
}

.-social-icons-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.-social-icons-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #a53dff;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  border-radius: 4px;
}

.social-info {
  position: absolute;
  left: 0;
  bottom: -36px;
  width: 100%;
  padding: 0 30px;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-info__body {
  pointer-events: auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 12px 64px rgba(28, 25, 25, 0.12);
          box-shadow: 0px 12px 64px rgba(28, 25, 25, 0.12);
  border-radius: 4px;
  padding: 12px;
}

.social-info__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  width: 48px;
  height: 48px;
  font-size: 18px;
}

.process {
  position: relative;
  z-index: 2;
  padding: 248px 0 140px 0;
  background-color: #f0f1f3;
}

.process_tabs {
  padding: 150px 0;
}

.process__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 47.6470588235%;
  grid-template-columns: 1fr 47.6470588235%;
  gap: 10.5147058824%;
}

.process__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.process__col > *:not(:last-child) {
  margin: 0 0 24px 0;
}

.process-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.process-texts {
  color: #697484;
}

.tabs-process__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs-process__content .process-body {
  height: 100%;
}

.tabs-process__item:not(:last-child) {
  margin: 0 0 24px 0;
}

.item-tabs-process {
  padding: 32px;
  background-color: #ffffff;
  border-radius: 6px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  position: relative;
  overflow: hidden;
}

.item-tabs-process.-active::before {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.item-tabs-process::before {
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: #a53dff;
  transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.4s ease 0s;
  transition: -webkit-transform 0.4s ease 0s;
  -o-transition: transform 0.4s ease 0s;
  transition: transform 0.4s ease 0s;
  transition: transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
}

.item-tabs-process > *:not(:last-child) {
  margin: 0 0 16px 0;
}

.item-tabs-process__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: #132238;
}

.item-tabs-process__text {
  color: #556070;
}

.item-process {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 32px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.item-process__icon {
  width: 72px;
  height: 72px;
  color: #a53dff;
  font-size: 25px;
  background-color: rgba(237, 216, 255, 0.5);
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.item-process__content {
  padding: 32px 0 0 0;
}

.item-process__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #132238;
}

.item-process__title:not(:last-child) {
  margin: 0 0 12px 0;
}

.item-process__text {
  color: #556070;
}

.item-process__text:not(:last-child) {
  margin: 0 0 12px 0;
}

.portfolio {
  padding: 100px 0;
  position: relative;
  z-index: 2;
}

.portfolio__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 24px;
}

.portfolio__items:not(:last-child) {
  margin: 0 0 50px 0;
}

.portfolio__footer {
  text-align: center;
}

.card-portfolio {
  background-color: #ffffff;
}

.card-portfolio__image {
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  padding: 0 0 58.4905660377% 0;
  display: block;
}

.card-portfolio__content {
  border: 1px solid #e6e8eb;
  border-top: none;
  border-radius: 0 0 8px 8px;
  -webkit-box-shadow: 0px 12px 64px rgba(28, 25, 25, 0.12);
          box-shadow: 0px 12px 64px rgba(28, 25, 25, 0.12);
  padding: 32px;
}

.card-portfolio__label {
  font-weight: 500;
  font-size: 12px;
  line-height: 133.3333333333%;
  color: #87909d;
}

.card-portfolio__label:not(:last-child) {
  margin: 0 0 4px 0;
}

.card-portfolio__title:not(:last-child) {
  margin: 0 0 12px 0;
}

.card-portfolio__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 142.8571428571%;
  color: #556070;
}

.card-portfolio__text:not(:last-child) {
  margin: 0 0 20px 0;
}

.card-portfolio__btn:not(:last-child) {
  margin: 0 0 20px 0;
}

.question {
  padding: 100px 0;
  background-color: #132238;
  position: relative;
  z-index: 2;
}

.question__container {
  text-align: center;
}

.question__container > *:not(:last-child) {
  margin: 0 0 32px 0;
}

.question__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 116.6666666667%;
  color: #ffffff;
}

.question__text {
  color: #a5acb5;
}

.blog {
  position: relative;
  padding: 100px 0;
}

.blog::before,
.blog::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.slider-blog__body {
  margin: -65px -24px;
  padding: 65px 24px;
}

.slider-blog__slide {
  background-color: #ffffff;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  border-radius: 8px;
}

.slider-blog__link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  border-radius: 8px;
}

.slider-blog__image {
  padding: 0 0 72.4358974359% 0;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

.slider-blog__content {
  padding: 24px;
  border: 1px solid #f0f1f3;
  border-top: none;
  border-radius: 0 0 8px 8px;
}

.slider-blog__content > *:not(:last-child) {
  margin: 0 0 8px 0;
}

.slider-blog__meta {
  font-weight: 400;
  font-size: 14px;
  line-height: 142.8571428571%;
  color: #87909d;
}

.slider-blog__pagination {
  margin: 24px 0 0 0;
}

.clients {
  padding: 100px 0 87px;
}

.clients__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 -20px -40px;
}

.clients__image {
  padding: 0 20px;
  margin: 0 0 40px 0;
}

.clients__image img {
  max-width: 140px;
  -webkit-transition: -webkit-filter 0.4s ease 0s;
  transition: -webkit-filter 0.4s ease 0s;
  -o-transition: filter 0.4s ease 0s;
  transition: filter 0.4s ease 0s;
  transition: filter 0.4s ease 0s, -webkit-filter 0.4s ease 0s;
}

.testimonial {
  padding: 77px 0 100px 0;
  position: relative;
}

.testimonial::before {
  content: "";
  position: absolute;
  pointer-events: none;
}

.slider-testimonial__body {
  max-width: 872px;
}

.slider-testimonial__slide {
  text-align: center;
}

.slider-testimonial__text:not(:last-child) {
  margin: 0 0 24px 0;
}

.slider-testimonial__author,
.slider-testimonial__label {
  font-family: Poppins;
}

.slider-testimonial__author:not(:last-child) {
  margin: 0 0 8px 0;
}

.slider-testimonial__pagination {
  margin: 50px 0 0 0;
}

.contact {
  margin: 0 0 -60px 0;
  position: relative;
  z-index: 3;
}

.contact__main {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 59px 124px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 59px 124px rgba(0, 0, 0, 0.12);
  padding: 88px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 42.0454545455% 1fr;
  grid-template-columns: 42.0454545455% 1fr;
  gap: 100px;
  position: relative;
  z-index: 2;
}

.contact__body > *:not(:last-child) {
  margin: 0 0 35px 0;
}

.contact__header > *:not(:last-child) {
  margin: 0 0 16px 0;
}

.info-contact {
  display: -ms-grid;
  display: grid;
  gap: 12px;
}

.item-info-contact {
  border-radius: 10px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.item-info-contact__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(237, 216, 255, 0.5);
  border-radius: 4px;
  color: #a53dff;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.item-info-contact__body {
  padding: 0 0 0 13px;
}

.item-info-contact__body > *:not(:last-child) {
  margin: 0 0 4px 0;
}

.item-info-contact__label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 142.8571428571%;
}

.item-info-contact__text {
  color: #132238;
}

.social-contact__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  width: 48px;
  height: 48px;
  font-size: 20px;
}

.social-contact__icon:not(:last-child) {
  margin: 0 12px 0 0;
}

.form-contact__text:not(:last-child) {
  margin: 0 0 36px 0;
}

.form-contact__body:not(:last-child) {
  margin: 0 0 50px 0;
}

.form-contact__body > *:not(:last-child) {
  margin: 0 0 10px 0;
}

.form-contact__input {
  height: 52px;
  position: relative;
}

.form-contact__input input,
.form-contact__input textarea {
  background-color: transparent;
  padding: 14px 0;
  border-bottom: 2px solid #e6e8eb;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  color: #697484;
}

.form-contact__input input.-fill,
.form-contact__input input:focus,
.form-contact__input textarea.-fill,
.form-contact__input textarea:focus {
  color: #a53dff;
  border-bottom: 2px solid #a53dff;
}

.form-contact__input input.-error,
.form-contact__input textarea.-error {
  border-bottom: 2px solid red;
}

.form-contact__input_textarea {
  height: 62px;
}

.form-contact__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35.5239786856% 1fr;
  grid-template-columns: 35.5239786856% 1fr;
  gap: 24px;
}

.footer {
  padding: 192px 0 64px 0;
  position: relative;
  z-index: 2;
  background-color: #2b384c;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copy {
  color: #f0f1f3;
}

.footer__bottom {
  margin: 30px 0 0 0;
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-footer__list li:not(:last-child) {
  margin: 0 24px 0 0;
}

.menu-footer__link {
  color: #f0f1f3;
}

@media (min-width: 575.98px) {
  .menu-footer {
    padding: 0 20px;
  }
}

@media (min-width: 991.98px) {
  .header__menu {
    padding: 0 0 0 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__burger {
    display: none;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .hi::before {
    width: 620px;
    height: 620px;
    right: -44px;
    top: -510px;
    background-color: rgba(218, 77, 241, 0.4);
    -webkit-filter: blur(300px);
            filter: blur(300px);
    -webkit-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
            transform: rotate(-130deg);
  }

  .hi::after {
    width: 741px;
    height: 741px;
    right: -450px;
    bottom: -248px;
    background-color: rgba(196, 245, 233, 0.7);
    -webkit-filter: blur(300px);
            filter: blur(300px);
    -webkit-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
            transform: rotate(-130deg);
  }

  .hi__container {
    gap: 9.0909090909%;
  }

  .hi__body {
    padding: 52px 0 0 0;
  }

  .info::before {
    width: 1481px;
    height: 1481px;
    left: 193px;
    top: -212px;
    background: -o-linear-gradient(268.13deg, rgba(255, 234, 198, 0.2) -157.44%, rgba(255, 234, 198, 0.144) 216.94%, rgba(255, 234, 198, 0.134) 216.94%);
    background: linear-gradient(181.87deg, rgba(255, 234, 198, 0.2) -157.44%, rgba(255, 234, 198, 0.144) 216.94%, rgba(255, 234, 198, 0.134) 216.94%);
    -webkit-filter: blur(350px);
            filter: blur(350px);
  }

  .info::after {
    width: 541px;
    height: 226px;
    left: -134px;
    bottom: -25px;
    background: -o-linear-gradient(268.13deg, #ffdfa8 -157.44%, rgba(255, 226, 176, 0.96) -157.4%, rgba(255, 234, 198, 0.67) 216.94%, rgba(250, 211, 144, 0.8) 216.94%);
    background: linear-gradient(181.87deg, #ffdfa8 -157.44%, rgba(255, 226, 176, 0.96) -157.4%, rgba(255, 234, 198, 0.67) 216.94%, rgba(250, 211, 144, 0.8) 216.94%);
    -webkit-filter: blur(100px);
            filter: blur(100px);
    -webkit-transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }

  .info__container {
    margin-bottom: -100px;
  }

  .info__main {
    border-radius: 16px;
  }

  .process__col:last-child {
    margin: 24px 0 0 0;
  }

  .blog::before {
    width: 620px;
    height: 620px;
    left: -350px;
    top: -475px;
    -webkit-transform: rotate(-130.44deg);
        -ms-transform: rotate(-130.44deg);
            transform: rotate(-130.44deg);
    background-color: rgba(218, 77, 241, 0.4);
    -webkit-filter: blur(250px);
            filter: blur(250px);
  }

  .blog::after {
    width: 1044px;
    height: 1044px;
    right: -832px;
    top: -442px;
    background-color: rgba(196, 245, 233, 0.7);
    -webkit-filter: blur(300px);
            filter: blur(300px);
    -webkit-transform: rotate(-130.44deg);
        -ms-transform: rotate(-130.44deg);
            transform: rotate(-130.44deg);
  }

  .testimonial::before {
    width: 1481px;
    height: 1482px;
    left: 193px;
    top: 0;
    background: -o-linear-gradient(268.13deg, rgba(255, 234, 198, 0.2) -157.44%, rgba(255, 234, 198, 0.144) 216.94%, rgba(255, 234, 198, 0.134) 216.94%);
    background: linear-gradient(181.87deg, rgba(255, 234, 198, 0.2) -157.44%, rgba(255, 234, 198, 0.144) 216.94%, rgba(255, 234, 198, 0.134) 216.94%);
    -webkit-filter: blur(350px);
            filter: blur(350px);
  }

  .contact__main {
    border-radius: 15px;
  }

  .item-info-contact {
    padding: 24px;
  }
}

@media (min-width: 1360px) {
  .footer__bottom {
    display: none;
  }
}

@media (max-width: 1360px) {
  .menu__list li:not(:last-child) {
    margin: 0 35px 0 0;
  }

  .hi__container {
    -ms-grid-columns: 53.0303030303% 27.2727272727%;
    grid-template-columns: 53.0303030303% 27.2727272727%;
  }

  .info__main {
    padding: 60px;
    gap: 60px;
  }

  .info__image {
    margin: 0 0 27px 0;
  }

  .social-info {
    bottom: -27px;
  }

  .social-info__body {
    padding: 8px;
  }

  .process__container {
    gap: 6.6176470588%;
    -ms-grid-columns: 1fr 57.3529411765%;
    grid-template-columns: 1fr 57.3529411765%;
  }

  .process__items {
    gap: 15px;
  }

  .process__col > *:not(:last-child) {
    margin: 0 0 15px 0;
  }

  .contact__main {
    padding: 50px;
    gap: 70px;
  }

  .form-contact__text:not(:last-child) {
    margin: 0 0 20px 0;
  }

  .footer {
    padding: 132px 0 35px 0;
  }

  .footer__copy {
    text-align: center;
  }
}

@media (max-width: 991.98px) {
  body.-lock {
    overflow: hidden;
  }

  .page {
    padding: 80px 0 0 0;
  }

  .logo__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
  }

  .logo__text {
    font-size: 24px;
    line-height: 150%;
  }

  .title {
    font-size: 34px;
    line-height: 117.6470588235%;
  }

  .title-small {
    font-size: 34px;
    line-height: 117.6470588235%;
  }

  .-top-block-md {
    text-align: center;
  }

  .header__body {
    min-height: 80px;
  }

  .header__btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .burger-menu {
    display: block;
    position: relative;
    z-index: 42;
    width: 38px;
    height: 24px;
  }

  .burger-menu::before,
  .burger-menu::after {
    content: "";
  }

  .burger-menu::before,
  .burger-menu::after,
  .burger-menu span {
    position: absolute;
    left: 0;
    background-color: #a53dff;
    width: 100%;
    height: 4px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    border-radius: 4px;
  }

  .burger-menu::before {
    top: 0;
  }

  .burger-menu span {
    top: 50%;
    -webkit-transform: translate(0px, -50%);
        -ms-transform: translate(0px, -50%);
            transform: translate(0px, -50%);
  }

  .burger-menu::after {
    bottom: 0;
  }

  .burger-menu.-active::before {
    top: 50%;
    -webkit-transform: translate(0, -50%) rotate(45deg);
        -ms-transform: translate(0, -50%) rotate(45deg);
            transform: translate(0, -50%) rotate(45deg);
  }

  .burger-menu.-active span {
    -webkit-transform: translate(0, -50%) scale(0);
        -ms-transform: translate(0, -50%) scale(0);
            transform: translate(0, -50%) scale(0);
  }

  .burger-menu.-active::after {
    bottom: 50%;
    -webkit-transform: translate(0, 50%) rotate(-45deg);
        -ms-transform: translate(0, 50%) rotate(-45deg);
            transform: translate(0, 50%) rotate(-45deg);
  }

  .menu {
    position: fixed;
    left: 0;
    width: 100%;
    top: 80px;
    height: calc(100% - 80px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 30px 30px;
    z-index: 40;
    background-color: #fff;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  .menu.-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .menu__list:not(:last-child) {
    margin: 0 0 30px 0;
  }

  .menu__list li {
    text-align: center;
  }

  .menu__list li:not(:last-child) {
    margin: 0 0 25px 0;
  }

  .hi {
    padding: 70px 0 120px 0;
  }

  .hi::before,
  .hi::after {
    display: none;
  }

  .hi__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .hi__title {
    font-size: 52px;
    line-height: 126.9230769231%;
  }

  .hi__btn:not(:last-child) {
    margin: 0 0 40px 0;
  }

  .hi__image {
    text-align: center;
  }

  .hi__image:not(:last-child) {
    margin: 0 0 50px 0;
  }

  .info::before,
  .info::after {
    display: none;
  }

  .info__main {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    margin: 0 -20px;
    padding: 90px 20px;
  }

  .process {
    padding: 80px 0 70px 0;
  }

  .process__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .process__items {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }

  .tabs-process__items {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow: auto;
  }

  .tabs-process__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 85%;
            flex: 0 0 85%;
  }

  .tabs-process__item:not(:last-child) {
    margin: 0 24px 0 0;
  }

  .item-process {
    padding: 24px;
  }

  .blog::before,
  .blog::after {
    display: none;
  }

  .testimonial::before {
    display: none;
  }

  .contact {
    margin: 0 -20px 0px;
  }

  .contact__main {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 50px 20px;
  }

  .info-contact {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
  }

  .form-contact__footer {
    text-align: center;
  }

  .footer {
    padding: 35px 0;
  }
}

@media (max-width: 991.98px) and (max-width: 767.98px) {
  .menu {
    padding: 30px 30px 30px;
    top: 60px;
    height: calc(100% - 60px);
  }
}

@media (max-width: 767.98px) {
  .page {
    padding: 60px 0 0 0;
  }

  .logo__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45px;
            flex: 0 0 45px;
  }

  .-top-block:not(:last-child) {
    margin: 0 0 50px 0;
  }

  .header__body {
    min-height: 60px;
  }

  .hi {
    padding: 50px 0 80px 0;
  }

  .hi__title {
    font-size: 34px;
    line-height: 117.6470588235%;
  }

  .features-hi__title {
    font-size: 28px;
    line-height: 121.4285714286%;
  }

  .info__main {
    padding: 70px 20px;
  }

  .portfolio {
    padding: 70px 0;
  }

  .portfolio__items:not(:last-child) {
    margin: 0 0 35px 0;
  }

  .card-portfolio__content {
    padding: 24px;
  }

  .question {
    padding: 70px 0;
  }

  .question__title {
    font-size: 34px;
    line-height: 117.6470588235%;
  }

  .blog {
    padding: 70px 0;
  }

  .clients {
    padding: 70px 0 57px;
  }

  .testimonial {
    padding: 40px 0 60px 0;
  }

  .slider-testimonial__pagination {
    margin: 40px 0 0 0;
  }

  .contact__body > *:not(:last-child) {
    margin: 0 0 25px 0;
  }
}

@media (max-width: 575.98px) {
  .info__main {
    gap: 45px;
  }

  .social-info {
    padding: 0 15px;
  }

  .social-info__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 38px;
            flex: 0 0 38px;
    width: 38px;
    height: 38px;
  }

  .tabs-process__item:not(:last-child) {
    margin: 0 15px 0 0;
  }

  .item-tabs-process {
    padding: 24px;
  }

  .item-tabs-process__title {
    font-size: 22px;
    line-height: 100%;
  }

  .portfolio__items {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }

  .form-contact__row {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .footer__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__logo:not(:last-child) {
    margin: 0 0 20px 0;
  }

  .footer__bottom {
    margin: 20px 0 0 0;
  }

  .menu-footer__list li:not(:last-child) {
    margin: 0 18px 0 0;
  }
}

@media (min-width: 991.98px) and (max-width: 1360px) {
  .social-info__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    width: 40px;
    height: 40px;
  }

  .process__col:last-child {
    margin: 15px 0 0 0;
  }

  .item-info-contact {
    padding: 16px;
  }
}

@media (min-width: 575.98px) and (max-width: 1360px) {
  .menu-footer {
    padding: 0 0 0 40px;
  }
}

@media (any-hover: hover) {
  .btn_bg:hover {
    background-color: #8431cc;
  }

  .btn_tr:hover {
    color: #8431cc;
    border: 1px solid #8431cc;
  }

  .menu-link:hover {
    color: #a53dff;
  }

  .-social-icons-icon:hover {
    background-color: #a53dff;
    color: #fff;
    -webkit-box-shadow: 0px 12px 64px rgba(28, 25, 25, 0.12);
            box-shadow: 0px 12px 64px rgba(28, 25, 25, 0.12);
  }

  .item-tabs-process:hover {
    -webkit-box-shadow: 0px 32px 96px rgba(28, 25, 25, 0.16);
            box-shadow: 0px 32px 96px rgba(28, 25, 25, 0.16);
  }

  .item-process:hover {
    -webkit-box-shadow: 0px 0px 124px rgba(43, 56, 76, 0.23);
            box-shadow: 0px 0px 124px rgba(43, 56, 76, 0.23);
  }

  .item-process:hover .item-process__icon {
    background-color: transparent;
  }

  .slider-blog__slide:hover {
    -webkit-box-shadow: 0px 12px 64px rgba(28, 25, 25, 0.12);
            box-shadow: 0px 12px 64px rgba(28, 25, 25, 0.12);
  }

  .clients__image a img {
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
  }

  .clients__image a:hover img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }

  .item-info-contact:hover {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 12px 64px rgba(28, 25, 25, 0.12);
            box-shadow: 0px 12px 64px rgba(28, 25, 25, 0.12);
  }

  .item-info-contact:hover .item-info-contact__icon {
    background-color: #a53dff;
    color: #fff;
  }
}